.container {
    width: 1670;
    padding-left: 15px;
    padding-right: 15px; 
     margin-left: auto;
    margin-right: auto; 
}

:root {
    --accent-red: #DD2242;
    --text-white: #FFF;
    --dark-blue-background: #010A20;
    --black: #000;
    --transparent-text: #E0E0E0;
    --secrets-buttons:  #85A3B2;
    --gallery-text: #6F7787; 
    --getting-bg: #DCE8F2;
}

.header {
    background-color: brown;
}

.header-flexbox {
    display: flex;
}

.header-image {
    display: block;
    padding-top: 28px;
}

.header-logo {
    color: var(--text-white);
font-family: Roboto;
font-size: 23.961px;
font-weight: 900;
line-height: 80.5%;
letter-spacing: 0.315px;
text-transform: uppercase;
padding-top: 40px;
margin-right: 64px;
}

.header-list {
    display:  flex;
    flex-direction: row;
    gap: 65px;
    padding-top: 48px;
}

.header-list:last-child {
    margin-left: auto;
    gap: 40px;
}

.header-item {
    color: var(--text-white);
font-family: DM Sans;
font-size: 18px;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.explore {
    background-color: brown;
}

.explore-list {
    display: flex;
    margin-top: 241px;
    padding: 41px 71px 49px 71px;
    justify-content: space-between;
    background-color:rgba(0, 0, 0, 0.6);
}

.explore-left {
    padding-left: 137px;
}

.explore-title {
    color: var(--text-white);
font-family: Roboto;
font-size: 120px;
font-style: normal;
font-weight: 900;
line-height: 130px;
text-transform: uppercase;
padding-top: 195px;
}

.explore-button {
    color: var(--text-white);
text-align: center;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 1.5; 
border-radius: 211px;
background: var(--accent-red);
padding: 20px 64px 20px 64px;
border: none;
}

.explore-flex {
    display: flex;
    justify-content: flex-end;
}

.explore-number {
    color: var(--accent-red);
font-family: Roboto;
font-size: 16px;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
}

.explore-subtitle {
    color: var(--text-white);
font-family: DM Sans;
font-size: 26.409px;
font-style: normal;
font-weight: 700;
line-height: 41.081px;
}

.explore-text {
    color: var(--transparent-text);
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
letter-spacing: 0.5px;
width: 210px;
}

.explore-image {
    width: 417.217px;
height: 254px;
display: flex;
margin-top: 197px;

}

.about {
    background-color: var(--dark-blue-background);
    padding-top: 207px;
    padding-bottom: 305px;
}

.about-item {
    display: flex;
}

.about-walkways {
    margin-left: 131px;
    padding-top: 58px;
}

.about-item:last-child {
   display: flex;
   flex-direction: row-reverse;
}

.about-beaches {
    margin-top: 260px;
    margin-right: 125px;
}

#about-image {
    margin-top: 192px;
    display: block;
}

.about-title {
    color: var(--text-white);
font-family: DM Sans;
font-size: 42px;
font-weight: 700;
line-height: 50px;
margin-bottom: 4px;
}

.about-text {
    color: var(--transparent-text);
font-family: DM Sans;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.18px;
margin-bottom: 32px;
}

.about-button {
    color: var(--text-white);
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5; 
    border-radius: 211px;
    background: var(--accent-red);
    padding: 16px 42px 16px 42px;
    border: none;
}

.secrets {
    padding-top: 127px;
    padding-bottom: 886px;
}

.secrets-list, .secrets-photos {
    display: flex;
    justify-content: center;
    gap: 31px;
    margin-top: 45px;
    margin-bottom: 28px;
}

.secrets-list:last-child {
    gap: 22px;
}

.secrets-image {
    width: 355px;
height: 227px;
flex-shrink: 0;
}

.secrets-link {
    margin-top: 161px;
}

.secrets-back {
    transform: rotate(180deg);
}

.secrets-title {
    color: var(--dark-blue-background);
    font-family: DM Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}

.secrets-button {
    border-radius: 50%;
    background: var(--secrets-buttons);
    border: none;
    width: 19px;
    height: 19px;
}


.secrets-button:hover {
    background-color: var(--accent-red);
}

.numbers {
    background-color: var(--dark-blue-background);
    padding-top: 201px;
    padding-bottom: 225px;
}

.numbers-title {
    color: var(--text-white);
    font-family: DM Sans;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}

.numbers-list {
    display: flex;
    margin-top: 39px;
}

.numbers-item {
    flex-direction: column;
}

.numbers-text {
    color: var(--transparent-text);
font-family: DM Sans;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.5px;
text-align: center;
}

.numbers-number {
    color: var(--accent-red);
font-family: DM Sans;
font-size: 42.137px;
font-weight: 700;
line-height: 49.16px;
letter-spacing: 0.386px;
text-align: center;
}

.hills {
    padding-top: 249px;
    padding-bottom: 256px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hills-title {
    color: var(--black);
font-family: DM Sans;
font-size: 42px;
font-weight: 700;
line-height: 50px;
}

.hills-text {
    color: var(--transparent-text);
font-family: DM Sans;
font-size: 18px;
font-weight: 400;
line-height: 28px; 
letter-spacing: 0.5px;
margin-top: 32px;
margin-bottom: 36px;
}

.hills-button {
    color: var(--text-white);
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;

    font-weight: 700;
    line-height: 1.5; 
    border-radius: 211px;
    background: var(--accent-red);
    padding: 16px 42px 16px 42px;
    border: none;
}

.expect {
    background-color: grey;
    padding-top: 141px;
    padding-bottom: 255px;
}

.expect-title {
    color: var(--text-white);
font-family: DM Sans;
font-size: 42px;
font-weight: 700;
line-height: 50px;
margin-bottom: 118px;
text-align: center;
}

.expect-video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.expect-list {
    display: flex;
    flex-direction: row;
    margin-top: 125px;
    gap: 75px;
}

.expect-item {
    display: flex;
}

.expect-describes {
    margin-left: 42px;
}

.expect-subtitle {
    color: var(--text-white);
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.5;
margin-bottom: 15px;
}

.expect-text {
    color: var(--transparent-text);
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.5px;
}

.gallery {
    margin-top: 177px;
    margin-bottom: 229px;
}

/* .gallery-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} */

.gallery-title {
    color: var(--black);
font-family: DM Sans;
font-size: 60px;
font-weight: 700;
line-height: 1.5;
text-align: center;
}

.gallery-text {
    color: var(--gallery-text);
font-family: DM Sans;
font-size: 18px;
font-weight: 400;
line-height: 28px; 
letter-spacing: 0.18px;
text-align: center;
margin-bottom: 42px;
}

.getting {
    background-color: var(--getting-bg);
}

.getting-title {
    color: var(--dark-blue-background);
font-family: DM Sans;
font-size: 60px;
font-weight: 700;
line-height: 1.5;
}

.getting-number {
    color: var(--text-white);
text-align: center;
font-family: DM Sans;
font-size: 26.409px;
font-weight: 500;
line-height: 38.146px; 
width: 9px;
height: 38px;
border-radius: 50%;
background-color: var(--accent-red);
padding: 10px 21px 10px 21px;
}

.getting-subtitle {
    color: var(--dark-blue-background);
    font-family: DM Sans;
font-size: 26.409px;
font-weight: 700;
line-height: 41.081px; 
}

.getting-text {
    color: var(--transparent-text);
font-family: DM Sans;
font-size: 23.475px;
font-weight: 400;
line-height: 38.146px; 
}

.footer {
    background-color: var(--dark-blue-background);
}

.footer-logo {
    color: var(--text-white);
font-family: Roboto;
font-size: 23.961px;
font-weight: 900;
line-height: 90.5%; 
letter-spacing: 0.315px;
text-transform: uppercase;
}

.footer-explore {
    color: var(--accent-red);
    font-family: Roboto;
    font-size: 23.961px;
    font-weight: 900;
    line-height: 90.5%; 
    letter-spacing: 0.315px;
    text-transform: uppercase;
}

.footer-item {
    color: var(--text-white);
font-family: DM Sans;
font-size: 18px;
font-weight: 700;
line-height: 28px; 
letter-spacing: 0.5px;
}

.footer-copyright {
    color: var(--text-white);
font-family: DM Sans;
font-size: 18px;
font-weight: 700;
line-height: 28px; 
letter-spacing: 0.5px;
}
